body {
    display: flex;
    margin: 17px;
    gap: 7px;
    flex-direction: column;
}
table {
    border-collapse: collapse;
}
table.track-list {
    max-width: 40vw;
}
table.flutabs-grid {
	table-layout: fixed;
	width: 100%;
}
td {
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
}
th {
    height: 30px;
}
td.flutabs-grid {
    border: 1px solid black;
    white-space: nowrap;
    width: 30px;
    max-width: 30px;
    height: 30px;
    max-height: 30px;
    font-family: monospace;
}
td.flutabs-grid:hover {
    background-color: aquamarine;
}
tr.flutabs-grid:hover {
    background-color: mediumseagreen;
}
.gray-row {
    background-color: lightgray;
}
.sticky-col {
	position: sticky;
	left: 0;
	z-index: 1;
    background-color: lightslategray;
}
#melodyInput {
    width: 40vw;
    height: 24vh;
}
.horizontal-container {
    display: flex;
    gap: 10px;
}
.vertical-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: stretch;
}
button, input {
    min-height: 4vh;
    min-width: 12vw;
}
input[type="number"] {
    text-align: center;
    max-width: 7vw;
    padding: 10px;
}

