table {
    border-collapse: collapse;
}
table.flutabs-grid {
	table-layout: fixed;
	width: 100%;
}
td {
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
}
td.flutabs-grid {
    border: 1px solid black;
    white-space: nowrap;
    width: 30px;
    max-width: 30px;
    height: 30px;
    max-height: 30px;
    font-family: monospace;
}
td.flutabs-grid:hover {
    background-color: aquamarine;
}
tr.flutabs-grid:hover {
    background-color: mediumseagreen;
}
.gray-row {
    background-color: lightgray;
}
.sticky-col {
	position: sticky;
	left: 0;
	z-index: 1;
    background-color: lightslategray;
}
#melodyInput {
    width: 40vw;
    height: 24vh;
}
