table {
    border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
}
td {
    white-space: nowrap;
    width: 30px;
    max-width: 30px;
    height: 30px;
    max-height: 30px;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    font-family: monospace;
}
td:hover {
    background-color: aquamarine;
}
tr:hover {
    background-color: mediumseagreen;
}
.gray-row {
    background-color: lightgray;
}
.sticky-col {
	position: sticky;
	left: 0;
	z-index: 1;
    background-color: lightslategray;
}
